#body_wrap{
  position: absolute;
  background: url('./back.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 1200px;
  height: 800px;
  z-index: 15;
  top: 18%;
  left: 20%;
  right: 30%;
  margin: -100px 0 0 -150px;
  color:orange;
}

a{
  text-decoration: none;
  color:grey;
  font-weight: bold;
}
a:hover {

 color: orange;
}



#wrap_header{
    height: 200px;

    text-align:center;
    padding: 5px;
    clear: both;
}
#website_title{

  height: 50px;
  width: 40%;
  vertical-align: middle;    /* NOTE: centers text in div */
  line-height: 50px;
  text-align: center;
  font-size: 50px;
  text-shadow: #ff6600 0 0 10px;
  text-shadow: -1px 0 #ff6600, 0 1px #ff6600, 1px 0 #ff6600, 0 -1px #ff6600;
  margin: 0 auto;  /* NOTE: centers div */
}

#header_sidebar{
  float: left;
  margin-top:20px;
  height:5%;
  width: inherit;

}


#header_content{
    background-color:red;
    height:inherit;
    background: url('./eyes.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    border: 1px solid grey;

}


#wrap_main{


    height:1300px;
    text-align:center;
    clear:both;

}

#main_navbar{

    background-color: rgba(0, 0, 0, .8);
    width:300px;
    float: left;
    border: 1px solid grey;


}
#navbar_title{

  background-color: rgba(0, 0, 0, .8);
  border-bottom: 5px solid orange;
  height: 50px;
  vertical-align: middle;    /* NOTE: centers text in div */
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;



}
#sidebar_twitter_feed{
border-top: 1px solid grey;


  height:500px;

}

#main_content_wrapper{

    height:inherit;
    overflow: hidden;

}
table{
  width: inherit;
}

#content_text_vault{

border: 1px solid grey;
margin:10px;
}



#page_title{
  background-color: rgba(0, 0, 0, .8);
  height: 50px;
  width: 50%;
  vertical-align: middle;    /* NOTE: centers text in div */
  line-height: 50px;
  color: orange;
  border: 1px solid grey;
  border-bottom: 0px;
  margin: 0 auto;  /* NOTE: centers div */
  font-size: 30px;

}
#content{
    background-color: rgba(0, 0, 0, .8);
    color:grey;
    font-size: 18px;
    height: 94.6%;
    border: 1px solid grey;
}

#content_text{
  padding-top: 10px;
  margin-right: 15%;

}

img{
  max-width: 100%;
  max-height: 100%;
  border: 2px solid grey;

}
input[type=search]{
  appearance: none;
  border: 1px solid #808080;

}
input[type=search]:focus{

  background-color: orange;
  border: 1px solid #808080;
}
button{
  appearance: none;
  border: 1px solid #808080;
}

button:hover{

  background-color: orange;
}
nav li{
  list-style-type: none;
}

ul li {
  list-style-type:none;
}


#content_picture{
margin-top: 10px;
height: 350px;
width: 320px;
float: left;
border: 0px solid #808080;

}
#metadata-content-wrapper{
  border: 1px solid grey;
  overflow: hidden;
}

#wrap_footer{

}

#footer_content{
    width: 50%;
    vertical-align: middle;
    color: #af111c;
    height:50%;
    margin: 0 auto;
    font-size: 20px;

}
